<div>
  <page-header [referenceUrl]="'https://material.angular.io/components/checkbox/overview'"></page-header>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">
    
    <material-example title="Checkbox overview" [code]="checkboxOverviewCode">
      <checkbox-overview-example></checkbox-overview-example>
    </material-example>

    <material-example title="Configuration checkbox" [code]="checkboxConfigurationCode">
      <checkbox-configuration-example></checkbox-configuration-example>
    </material-example>

  </div>
</div>
