<div>
  <page-header
    [title]="'Checkbox'"
    [routes]="['Material Components', 'Checkbox']"
    [referenceUrl]="'https://material.angular.io/components/checkbox/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">
    <material-example title="Simple checkbox" [code]="simpleCheckboxCode">
      <simple-checkbox-example></simple-checkbox-example>
    </material-example>

    <material-example title="Configuration checkbox" [code]="configurationCheckboxCode">
      <configuration-checkbox-example></configuration-checkbox-example>
    </material-example>
  </div>
</div>
