.container {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .header {
    position: relative;
    height: 72px;
    overflow: hidden;

    .logo {
      height: 100%;
      width: 64px;
      min-width: 64px;
      max-width: 64px;
    }

    .search {
      width: 638px;
      max-width: calc(100vw - 84px);
      height: 42px;
      border: 1px solid rgba(0,0,0,.16);
      border-radius: 50px;
      background: white;

      input {
        height: 100%;
        border: none;
        outline: none;
        font-size: 1em;
        &::placeholder {
          color: rgba(0,0,0,.32);
        }
      }
    }

    .loading-indicator {
      position: absolute;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }
  }

  .content {
    position: relative;
    height: calc(100% - 73px);
    max-width: 100vw;
    overflow-y: auto;

    .general-info {
      height: 56px;
      line-height: 48px;
      font-size: .85em;
      opacity: .64;
      padding-top: 4px;
    }

    .search-results {
      .search-result {
        box-sizing: border-box;
        margin-bottom: 28px;

        .search-result-content {
          max-width: calc(100vw - 100px);

          .title {
            display: block;
            max-width: 100vw;
            font-size: 1.2em;
            text-decoration: none;
            margin-bottom: 4px;
            cursor: pointer;
            outline: none;
          }

          .url {
            display: block;
            max-width: 100vw;
            font-size: .95em;
            text-decoration: none;
            margin-bottom: 4px;
            cursor: pointer;
            outline: none;
          }

          .description {
            max-width: 100vw;
            font-size: .9em;
            opacity: .68;
          }
        }
      }
    }

    .paginator {
      height: 56px;
      margin-bottom: 24px;

      button {
        border-radius: 50%;
      }

      .active {
        color: white;
      }
    }
  }
}

.container[dir="rtl"] {
  .content > .paginator > .next-btn {
    transform: rotate(180deg);
  }
}
