<div>
  <page-header
    [title]="'Sidenav'"
    [routes]="['Material Components', 'Navigation']"
    [referenceUrl]="'https://material.angular.io/components/sidenav/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Simple sidenav" [code]="simpleSidenavCode">
      <simple-sidenav-example></simple-sidenav-example>
    </material-example>

    <material-example title="Autosize sidenav" [code]="autosizeSidenavCode">
      <autosize-sidenav-example></autosize-sidenav-example>
    </material-example>

  </div>
</div>
