<div>
  <page-header [referenceUrl]="'https://material.angular.io/components/sidenav/overview'"></page-header>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Sidenav overview" [code]="sidenavOverviewCode">
      <sidenav-overview-example></sidenav-overview-example>
    </material-example>

    <material-example title="Autosize sidenav" [code]="sidenavAutosizeCode">
      <sidenav-autosize-example></sidenav-autosize-example>
    </material-example>

  </div>
</div>
