<div>
  <page-header [referenceUrl]="'https://material.angular.io/components/datepicker/overview'"></page-header>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Datepicker overview" [code]="datepickerOverviewCode">
      <datepicker-overview-example></datepicker-overview-example>
    </material-example>

    <material-example title="Touch UI datepicker" [code]="datepickerTouchUICode">
      <datepicker-touch-ui-example></datepicker-touch-ui-example>
    </material-example>

    <material-example title="Open method datepicker" [code]="datepickerOpenMethodCode">
      <datepicker-open-method-example></datepicker-open-method-example>
    </material-example>

    <material-example title="Disabled datepicker" [code]="datepickerDisabledCode">
      <datepicker-disabled-example></datepicker-disabled-example>
    </material-example>

  </div>
</div>
  
