<div>
  <page-header
    [title]="'Datepicker'"
    [routes]="['Material Components', 'Form Controls']"
    [referenceUrl]="'https://material.angular.io/components/datepicker/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Simple datepicker" [code]="simpleDatepickerCode">
      <simple-datepicker-example></simple-datepicker-example>
    </material-example>

    <material-example title="Touch UI datepicker" [code]="touchUIDatepickerCode">
      <touch-ui-datepicker-example></touch-ui-datepicker-example>
    </material-example>

    <material-example title="Open method datepicker" [code]="openMethodDatepickerCode">
      <open-method-datepicker-example></open-method-datepicker-example>
    </material-example>

    <material-example title="Disabled datepicker" [code]="disabledDatepickerCode">
      <disabled-datepicker-example></disabled-datepicker-example>
    </material-example>

  </div>
</div>
  