<mat-card class="container">
  <mat-toolbar class="header">
    <span style="width: 20px"></span>
    <span class="pure-icon-foreground">{{ title }}</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button matTooltip="View source" (click)="toggleView()">
      <mat-icon class="pure-icon-foreground">code</mat-icon>
    </button>
    <span style="width: 12px"></span>
  </mat-toolbar>
  <div class="code-wrapper" *ngIf="isViewingCode">
    <mat-tab-group>
      <mat-tab label="HTML">
        <pre><code [highlight]="code.html"></code></pre>
      </mat-tab>
      <mat-tab label="TS">
        <pre><code [highlight]="code.ts"></code></pre>
      </mat-tab>
      <mat-tab label="SCSS">
        <pre><code [highlight]="code.scss"></code></pre>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="example-wrapper">
    <ng-content></ng-content> 
  </div>
</mat-card>
