.container {
  padding: 0px;

  .header {
    height: 56px;
    font-size: 16px;
    font-weight: 400;
    padding: 0px;
  }

  .example-wrapper {
    min-height: 48px;
    padding: 20px 20px 20px 32px;
    box-sizing: border-box;
  }

  .code-wrapper {
    min-height: 48px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);

    code {
      padding: 0 20px 20px 32px;
      font-family: 'Roboto Mono', 'Roboto', sans-serif;
    }
  }
}
