<div #pure_chatbox_container class="pure-chatbox-container"
  [dir]="_settings.currentTextDir"
  [ngClass]="{ 
    'fullwidth' : _mainContainer.isFullWidth,
    'non-fullwidth' : !_mainContainer.isFullWidth,
    'opened' : _chatboxContainer.isOpened,
    'disable-animation' : _settings.disableAnimation
  }">
  <mat-toolbar color="primary" class="toolbar" (click)="openChatbox()"
    [ngSwitch]="_chatbox.inConversation && _chatboxContainer.isOpened">
    <mat-icon class="chatbox-icon" *ngSwitchCase="false">
      chat
    </mat-icon>
    <span class="content">
      <span *ngSwitchCase="false" class="title">Chatbox</span>
      <div *ngSwitchCase="true" class="user-info" fxLayout="row" fxLayoutAlign="start center">
        <img class="avatar" src="assets/image/avatar/{{_chatbox.currentConversation.contactInfo.avatar}}" width="36px">
        <span class="name">{{_chatbox.currentConversation.contactInfo.name}}</span>
      </div>
    </span>
    <div class="pure-spacer"></div>
    <button mat-icon-button class="content close-btn" (click)="closeChatbox($event)">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="chatbox-wrapper">
    <pure-chatbox></pure-chatbox> 
  </div>
</div>
