.pure-side-chatbox {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 0px;
  max-width: 0px;
  width: 0px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
  z-index: 9000;
  .toolbar {
    position: relative;
    z-index: 9001;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    .chatbox-icon {
      margin-bottom: -2px;
      margin-left: 4px;
    }
    .content {
      opacity: 0;
      margin-right: -8px;
    }
  }
  .pure-chatbox-wrapper {
    position: absolute;
    z-index: 9000;
    top: 64px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: white;
  }
}

.pure-side-chatbox-fullwidth {
  min-width: 64px;
  max-width: 64px;
  width: 64px;
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
}

.pure-side-chatbox-non-full-width {
  min-width: 0px;
  max-width: 0px;
  width: 0px;
}

.pure-side-chatbox-closed.pure-side-chatbox-non-full-width {
  min-width: 0px;
  max-width: 0px;
  width: 0px;
}

.pure-side-chatbox-closed.pure-side-chatbox-full-width {
  min-width: 64px;
  max-width: 64px;
  width: 64px;
}

.pure-side-chatbox-opened {
  min-width: 352px;
  max-width: 352px;
  width: 352px;
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
  .toolbar {
    .content {
      opacity: 1;
      visibility: visible;
      transition: visibility .3s, opacity .25s ease-in;
    }
  }
}

.pure-side-chatbox-closed {
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .pure-side-chatbox>.pure-chatbox-wrapper {
    top: 56px;
  }
}

@media only screen and (max-width: 400px) {
  .pure-side-chatbox-opened {
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
  }
}
