<div>
  <page-header [referenceUrl]="'https://material.angular.io/components/form-field/overview'"></page-header>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Form fields overview" [code]="formFieldOverviewCode">
      <form-field-overview-example></form-field-overview-example>
    </material-example>

    <material-example title="Form fields with label" [code]="formFieldLabelCode">
      <form-field-label-example></form-field-label-example>
    </material-example>

    <material-example title="Form fields with hint" [code]="formFieldHintCode">
      <form-field-hint-example></form-field-hint-example>
    </material-example>

    <material-example title="Form fields with error messages" [code]="formFieldErrorCode">
      <form-field-error-example></form-field-error-example>
    </material-example>

    <material-example title="Form fields with prefix & suffix" [code]="formFieldPrefixSuffixCode">
      <form-field-prefix-suffix-example></form-field-prefix-suffix-example>
    </material-example>

    <material-example title="Form fields theming" [code]="formFieldThemingCode">
      <form-field-theming-example></form-field-theming-example>
    </material-example>
    
  </div>
</div>
