<div>
  <page-header
    [title]="'Form field'"
    [routes]="['Material Components', 'Form Controls']"
    [referenceUrl]="'https://material.angular.io/components/form-field/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Simple form fields" [code]="simpleFormFieldCode">
      <simple-form-field-example></simple-form-field-example>
    </material-example>

    <material-example title="Form fields with label" [code]="labelFormFieldCode">
      <label-form-field-example></label-form-field-example>
    </material-example>

    <material-example title="Form fields with hint" [code]="hintFormFieldCode">
      <hint-form-field-example></hint-form-field-example>
    </material-example>

    <material-example title="Form fields with error messages" [code]="errorFormFieldCode">
      <error-form-field-example></error-form-field-example>
    </material-example>

    <material-example title="Form fields with prefix & suffix" [code]="prefixSuffixFormFieldCode">
      <prefix-suffix-form-field-example></prefix-suffix-form-field-example>
    </material-example>

    <material-example title="Form fields theming" [code]="themingFormFieldCode">
      <theming-form-field-example></theming-form-field-example>
    </material-example>
    
  </div>
</div>
