.template-contact-app {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;

  .mobile-sidenav {
    width: 300px;
    max-width: 90vw;
    box-shadow: none;

    .title {
      margin: 24px;
      font-size: 1.4em;
    }
  }

  .toolbar {
    padding: 0 12px;

    input {
      border: none;
      height: 40px;
      background: transparent;
      outline: none;
      font-size: 1em;
    }

    .title {
      font-size: 1.35em;
      opacity: .68;
    }

    .search {
      height:  48px;
      border-radius: 4px;
      padding: 0 4px 0 16px;
    }

    .seperator {
      width: 24px;
    }

    .mobile-search-btn {
      display: none;
    }
  }

  .content {
    overflow: hidden;

    .content-sidenav {
      width: 300px;
      background: transparent;
      box-shadow: none;
      border: none;
    }

    .contacts-wrapper {
      position: relative;
      height: calc(100vh - 64px - 72px);
      box-sizing: border-box;
      overflow: hidden;

      .contacts {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;

        table {
          width: calc(100% - 32px);
          margin: 0 16px 16px 16px;
          box-sizing: border-box;
          border: 1px solid rgba(0,0,0,.18);

          th {
            border-top: 1px solid rgba(0,0,0,.18);
            font-size: .9em;
          }

          tr {
            height: 64px;
            cursor: pointer;
          }

          .avatar {
            border-radius: 50%;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.35);
            margin-top: 4px;
          }

          .number-avatar {
            width: 40px;
            height: 40px;
            background: #bdbdbd;
            font-size: 1.6em;
            color: white;
          }
        }
      }

      .mobile-add-btn {
        position: absolute;
        bottom: 16px;
        right: 16px;
        display: none;
      }
    }
  }

  /**
   * Responsive Support
   */
  @media only screen and (min-width: 1000px) {
    .mobile-sidenav, div.mat-drawer-backdrop {
      display: none;
    }
  }

  @media only screen and (max-width: 1600px) {
    // Show less column when the screen is smaller
    table {
      th:nth-child(5), td:nth-child(5), th:nth-child(6), td:nth-child(6) {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 1000px) {
    .content-sidenav {
      display: none;
    }

    .mobile-add-btn {
      display: block !important;
    }
  }

  @media only screen and (max-width: 800px) {
    .toolbar {
      .search {
        display: none !important;
      }

      .mobile-search-btn {
        display: block !important;
      }
    }

    // Show less column when the screen is smaller
    table {
      th:nth-child(4), td:nth-child(4) {
        display: none;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .toolbar {
      padding: 0 8px;

      .seperator {
        width: 16px;
      }
    }
  }
}

.template-contact-app[dir="rtl"] {
  .toolbar {
    .search {
      padding: 0 16px 0 4px !important;
    }
  }
}
