<div>
  <page-header [referenceUrl]="'https://material.angular.io/components/autocomplete/overview'"></page-header>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Autocomplete overview" [code]="autocompleteOverviewCode">
      <autocomplete-overview-example></autocomplete-overview-example>
    </material-example>

    <material-example title="Display value autocomplete" [code]="autocompleteDisplayValueCode">
      <autocomplete-display-value-example></autocomplete-display-value-example>
    </material-example>

    <material-example title="Filter autocomplete" [code]="autocompleteFilterCode">
      <autocomplete-filter-example></autocomplete-filter-example>
    </material-example>

    <material-example title="Option groups autocomplete" [code]="autocompleteOptionGroupsCode">
      <autocomplete-option-groups-example></autocomplete-option-groups-example>
    </material-example>

    <material-example title="Focus first autocomplete option" [code]="autocompleteFocusFirstOptionCode">
      <autocomplete-focus-first-option-example></autocomplete-focus-first-option-example>
    </material-example>
    
  </div>
</div>
