<div class="container">
  <page-header
    [title]="'Autocomplete'"
    [routes]="['Material Components', 'Form Controls']"
    [referenceUrl]="'https://material.angular.io/components/autocomplete/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">
    <!-- <material-example></material-example>
    <material-example></material-example>
    <material-example></material-example>
    <material-example></material-example>
    <material-example></material-example> -->
    <div>Hello</div>
    <div>Hello</div>
    <div>Hello</div>
  </div>
  <!-- <div style="height: 500px"></div> -->
</div>