<div class="background"></div>
<div class="container" purePerfectScrollbar fxLayout="row" fxLayoutAlign="center center">
  <div class="content">
    <div fxLayout="column" fxLayoutAlign="center center">

      <img class="logo" src="/assets/logo/pure.svg" width="84px">
      <div class="title">Comming Soon</div>
      <div class="description">We are working hard to release more great features</div>

      <div class="timers" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="16px">
        <div class="timer" fxLayout="column" fxLayoutAlign="center center">
          <span class="time">12</span>
          <span class="unit">days</span>
        </div>
        <div class="timer" fxLayout="column" fxLayoutAlign="center center">
          <span class="time">10</span>
          <span class="unit">hours</span>
        </div>
        <div class="timer" fxLayout="column" fxLayoutAlign="center center">
          <span class="time">40</span>
          <span class="unit">minutes</span>
        </div>
        <div class="timer" fxLayout="column" fxLayoutAlign="center center">
          <span class="time">10</span>
          <span class="unit">seconds</span>
        </div>
      </div>

      <div class="subscribe" fxLayout="row" fxLayoutAlign="center center">
        <input placeholder="Email me when new feature release">
        <button mat-icon-button>
          <mat-icon>chevron_right</mat-icon>
        </button>
      </div>

    </div>
  </div>
</div>
