/**
 * By default, Angular Material advice us to using @mixin to automatically apply a theme (Create theme
 * file for each component (To work perfectly with light and dark theme), but in some component,
 * we don't have so much styling that need a seperate theme file.
 *
 * In that case, i using this method. With this global classes, you can set styling the most basic
 * (background, color, icon color...) for your components with out create a theme file for those components
 */

@mixin pure-style-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  // Set both background and force ground with current material theme
  .pure-theme {
    background: mat-color($background, background);
    color: mat-color($foreground, text);
  }

  .pure-foreground {
    color: mat-color($foreground, text);
  }

  .pure-background {
    background: mat-color($background, background);
  }

  .pure-icon-foreground {
    color: mat-color($foreground, icon);
  }

  .pure-primary-foreground {
    color: mat-color($primary);
  }

  .pure-primary-background {
    background: mat-color($primary);
  }

  .pure-link {
    @if $is-dark {
      color: #577bff;
    } @else {
      color: #1a0dab;
    }
  }

  .pure-sub-link {
    @if $is-dark {
      color: #239147;
    } @else {
      color: #006621;
    }
  }
}
