<form [formGroup]="forgotPasswordForm" [dir]="_settings.currentTextDir$ | async">

  <div class="hint">We'll send a reset password link to your email</div>

  <mat-form-field appearance="outline" class="input-form-field">
    <mat-label>Email</mat-label>
    <mat-icon matSuffix class="input-icon">email</mat-icon>
    <input matInput pureAutofocus placeholder="Enter your email" formControlName="email">
    <mat-error *ngIf="email.invalid" align="end">{{getEmailErrorMessage()}}</mat-error>
  </mat-form-field>

  <div class="buttons">
    <button mat-raised-button class="reset-button" color="primary" [disabled]="forgotPasswordForm.invalid">SEND ME RESET LINK</button>

    <div class="back-button">
      <a mat-button color="primary" [routerLink]="[getCorrectVersionLink('../login')]">Back to login</a>
    </div>
  </div>

</form>
