.hint {
  font-size: .8em;
  opacity: .5;
  margin-bottom: 20px;
}

.input-form-field {
  width: 100%;
}

.buttons {
  width: 100%;
  margin-top: 8px;

  .reset-button {
    width: 100%;
    margin-bottom: 8px;
  }

  .back-button {
    width: 100%;
    text-align: center;
    text-decoration: none;
    transform: translateY(8px);

    a {
      font-weight: 400;
    }
  }
}
