.pure-menu-container {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 0px;
  max-width: 0px;
  width: 0px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
  z-index: 9000;
  .menu-wrapper {
    position: absolute;
    top: 64px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
  }
}

.menu-fullwidth {
  min-width: 64px;
  max-width: 64px;
  width: 64px;
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
  .toolbar {
    .menu-button {
      visibility: hidden;
      opacity: 0;
    }
    .title {
      padding-left: 16px;
      margin-bottom: -2px;
      font-weight: 200;
      display: hidden;
    }
  }
}

.menu-non-full-width {
  min-width: 0px;
  max-width: 0px;
  width: 0px;
}

.menu-closed.menu-non-full-width {
  min-width: 0px;
  max-width: 0px;
  width: 0px;
}

.menu-closed.menu-full-width {
  min-width: 64px;
  max-width: 64px;
  width: 64px;
}

// This to prevent hover unexpect behavior on mobile devices
@media (hover:hover) {
  .menu-closed.menu-can-hover {
    &:hover {
      min-width: 288px;
      max-width: 288px;
      width: 288px;
      transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
      .toolbar>.menu-button {
        opacity: 1;
        visibility: visible;
        transition: visibility .2s, opacity .25s ease-in;
      }
    }
  }
}

.menu-closed.menu-cant-hover {
  pointer-events: none;
}

.menu-opened {
  min-width: 288px;
  max-width: 288px;
  width: 288px;
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
  .toolbar {
    .menu-button {
      opacity: 1;
      visibility: visible;
      transition: visibility .3s, opacity .25s ease-in;
    }
    .title {
      display: inline-block;
    }
  } 
}

.menu-closed {
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .pure-menu-container > .menu-wrapper {
    top: 56px;
  }  
}

@media only screen and (max-width: 400px) {
  .menu-opened {
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
  }
}
