<div #pure_menu_container class="pure-menu-container"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  [ngClass]="{
    'fullwidth' : (_mainContainer.isFullWidth$ | async),
    'non-fullwidth' : !(_mainContainer.isFullWidth$ | async),
    'can-hover' : (_menuContainer.canHover$ | async),
    'opened' : (_menuContainer.isOpened$ | async),
    'RTL' : (_settings.currentTextDir$ | async) === 'RTL',
    'disable-animation': (_settings.disableAnimation$ | async)
  }">
  <mat-toolbar color="primary" class="toolbar">
    <img class="logo" src="assets/logo/pure.png" height="28">
    <span style="display: inline-block; width: 12px;"></span>
    <span (click)="_menuContainer.open()" class="title">PURE</span>
    <div class="pure-spacer"></div>
    <button mat-icon-button class="menu-button"
      (click)="_menuContainer.toggle()">
      <mat-icon>
        {{!(_menuContainer.isOpened$ | async) ? 'menu' : (_settings.currentTextDir$ | async) === 'LTR' ? 'arrow_back' : 'arrow_forward'}}
      </mat-icon>
    </button>
  </mat-toolbar>
  <div class="menu-wrapper pure-background">
    <pure-menu></pure-menu>
  </div>
</div>
