.pure-side-menu {
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 0px;
  max-width: 0px;
  width: 0px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
  z-index: 9000;
  .pure-menu-wrapper {
    position: absolute;
    top: 64px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: white;
  }
}

.pure-side-menu-fullwidth {
  min-width: 64px;
  max-width: 64px;
  width: 64px;
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
  .toolbar {
    .menu-button {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.pure-side-menu-non-full-width {
  min-width: 0px;
  max-width: 0px;
  width: 0px;
}

.pure-side-menu-closed.pure-side-menu-non-full-width {
  min-width: 0px;
  max-width: 0px;
  width: 0px;
}

.pure-side-menu-closed.pure-side-menu-full-width {
  min-width: 64px;
  max-width: 64px;
  width: 64px;
}

// This to prevent hover unexpect behavior on mobile devices
@media (hover:hover) {
  .pure-side-menu-closed.pure-side-menu-can-hover {
    &:hover {
      min-width: 288px;
      max-width: 288px;
      width: 288px;
      transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
      .toolbar>.menu-button {
        opacity: 1;
        visibility: visible;
        transition: visibility .2s, opacity .25s ease-in;
      }
    }
  }
}

.pure-side-menu-closed.pure-side-menu-cant-hover {
  pointer-events: none;
}

.pure-side-menu-opened {
  min-width: 288px;
  max-width: 288px;
  width: 288px;
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
  .toolbar>.menu-button {
    opacity: 1;
    visibility: visible;
    transition: visibility .3s, opacity .25s ease-in;
  }
}

.pure-side-menu-closed {
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .pure-side-menu> .pure-menu-wrapper {
    top: 56px;
  }  
}

@media only screen and (max-width: 400px) {
  .pure-side-menu-opened {
    min-width: 100vw;
    max-width: 100vw;
    width: 100vw;
  }
}
