<div #pure_menu_container class="pure-menu-container"
     [dir]="_settings.currentTextDir"
     [class.fullwidth]="_mainContainer.isFullWidth"
     [class.non-fullwidth]="!_mainContainer.isFullWidth"
     [class.opened]="_menuContainer.isOpenedOrHoveringMenu"
     [class.disable-animation]="_settings.disableAnimation">
  <mat-toolbar color="primary" class="toolbar">
    <img class="logo" src="assets/logo/pure.png" height="28">
    <span style="display: inline-block; width: 12px;"></span>
    <span (click)="_menuContainer.open()" class="title">PURE</span>

    <div class="pure-spacer"></div>

    <button mat-icon-button class="menu-button" (click)="_menuContainer.toggle()">
      <mat-icon>
        {{!_menuContainer.isOpened ? 'menu' : _settings.currentTextDir === 'ltr' ? 'arrow_back' : 'arrow_forward'}}
      </mat-icon>
    </button>
  </mat-toolbar>

  <div class="menu-wrapper pure-background">
    <pure-menu></pure-menu>
  </div>
</div>
