.container {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;

  .title {
    font-size: 6em;
  }

  .message {
    font-size: 2em;
    opacity: .48;
  }

  .search-bar {
    position: relative;
    width: 380px;
    max-width: 90vw;
    height: 48px;
    border-radius:48px; 
    border: 1px solid rgba(0,0,0,.12);
    margin-top: 24px;
    background: white;
    padding: 4px 16px;

    .search-icon {
      color: rgba(0,0,0,.32);
    }
    
    .gap {
      width: 8px;
      height: 100%;
    }

    input {
      font-size: 1em;
      outline: none;
      border: none;
    }

    input::placeholder {
      color: rgba(0,0,0,.32);
    }
  }

  button {
    margin-top: 16px;
  }
}
