<div class="container pure-background" fxLayout="column" fxLayoutAlign="center center">
  <div class="title">404</div>
  <div class="message">Page not found</div>

  <div class="search-bar" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon class="search-icon">search</mat-icon>
    <div class="gap"></div>
    <input type="text" placeholder="Search for something you need here..." fxFlex>
  </div>

  <button mat-button color="primary" routerLink="/">
    Go back to Pure
  </button>
</div>
