<div>
  <page-header [referenceUrl]="'https://material.angular.io/components/tree/overview'"></page-header>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Tree with dynamic data" [code]="treeDynamicCode">
      <tree-dynamic-example></tree-dynamic-example>
    </material-example>

    <material-example title="Tree with flat nodes" [code]="treeFlatCode">
      <tree-flat-example></tree-flat-example>
    </material-example>

    <material-example title="Tree with checkboxes" [code]="treeCheckboxCode">
      <tree-checklist-example></tree-checklist-example>
    </material-example>

    <material-example title="Tree with nested nodes" [code]="treeNestedCode">
      <tree-nested-example></tree-nested-example>
    </material-example>

    <material-example title="Tree with partially loaded data" [code]="treeLoadmoreCode">
      <tree-loadmore-example></tree-loadmore-example>
    </material-example>

  </div>
</div>
