.container {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  background-color: #313846;
  background: url('/assets/image/background/material-background.jpg') 0 0/cover no-repeat;
  overflow: hidden;

  .content {
    box-sizing: border-box;
    padding-left:32px;
    padding-right:32px;
    width: 360px;
    max-width: 100vw;
    max-height: 100vh;
    overflow-y: auto;
    animation: push-up-anim 500ms ease-in-out;

    .logo {
      box-sizing: border-box;
      margin-top: 32px;
      height: auto;
    }
    
    .title {
      font-size: 1.4em;
      padding: 28px 0;
      font-weight: 300;
      color: #2472cc;
    }

    @media only screen and (max-width: 480px) {
      width: 480px !important;
      height: 100vh;
      border-radius: 0;
    }

    @keyframes push-up-anim {
      from {
        opacity: 0;
        transform: translateY(150px);
      }
      to {
        opacity: 1;
        transform: translateY(0px);
      }
    }
  }
}
