<div>
  <page-header
    [title]="'Slider toggle'"
    [routes]="['Material Components', 'Form Controls']"
    [referenceUrl]="'https://material.angular.io/components/slide-toggle/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Configurable slide-toggle" [code]="slideToggleConfigurableCode">
      <slide-toggle-configurable-example></slide-toggle-configurable-example>
    </material-example>

  </div>
</div>
