$primary: mat-palette($mat-deep-orange, 600);
$accent: mat-palette($mat-green, A200, A100, A400);
$warn: mat-palette($mat-red, 500);

$pure-deep-orange-dark-theme: mat-dark-theme($primary, $accent, $warn);
