.pure-notification {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  box-sizing: border-box;

  .today-top {
    font-size: 36px;
    height: 36px;
    padding-left: 44px;
  }
  .today-bottom {
    font-size: 26px;
    margin-bottom: 20px;
    padding-left: 44px;
  }
  mat-list-item {
    font-family: Roboto, sans-serif;
    .main-line {
      font-size: 16px;
    }
    .sub-line {
      padding-top: 4px;
    }
  }
}
