<div #PURE_MAIN_CONTAINER id="PURE_MAIN_CONTAINER" class="pure-main-container"
     [dir]="_settings.currentTextDir$ | async">
  <mat-progress-bar class="loader" mode="indeterminate" *ngIf="isLoading$ | async"></mat-progress-bar>

  <div class="content pure-theme"
       [class.menu-content-opened]="(_mainContainer.isFullWidth$ | async) && (_menuContainer.isOpened$ | async)"
       [class.small-screen]="!(_mainContainer.isFullWidth$ | async)"
       [class.disable-animation]="_settings.disableAnimation$ | async"
       [class.minimal-mode]="minimalMode">
    <ng-content></ng-content>
    <pure-setting-button></pure-setting-button>
  </div>

  <!--Pure Containers-->
  <ng-template [ngIf]="!minimalMode">
    <pure-menu-container></pure-menu-container>
    <pure-chatbox-container></pure-chatbox-container>
    <pure-notification-container></pure-notification-container>
  </ng-template>
  <pure-settings-container></pure-settings-container>

  <!--Main Backdrop-->
  <div class="pure-main-container-backdrop"
       [class.visible]="(isBackdropVisible$ | async) && !minimalMode"
       (click)="closeBackdrop()"></div>

  <!--Transparent Backdrop-->
  <div class="pure-transparent-backdrop"
       [hidden]="!(_settingsContainer.isOpened$ | async)"
       (click)="_settingsContainer.close()"></div>
</div>
