.pure-main-container {
  .content {
    background: white;
    position: absolute;
    left: 64px;
    right: 64px;
    top: 64px;
    bottom: 0px;
  }

  .content-minimal {
    background: white;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }

  .menu-content-small-screen {
    left: 0px;
  }

  .menu-content-opened {
    left: 288px;
  }

  .chatbox-content-small-screen {
    right: 0px;
  }
}

.pure-main-container-backdrop {
  z-index: 999;
  background: rgba(black, 0);
  position: absolute;
  left: 0px;
  top: 0px;
  bottom: 0px;
  right: 0px;
  animation-name: pure-container-backdrop-anim;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

@keyframes pure-container-backdrop-anim {
  from {
    background: rgba(black, .0)
  }

  to {
    background: rgba(black, .6)
  }
}

/**
  * RESPONSIVE
  */
@media only screen and (max-width: 600px) {
  .pure-main-container>.content {
    top: 56px;
  }
}
