.pure-menu-item {
  position: relative;
  display: block;
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  padding-top: 0px;

  .content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding-left: 22px;

    .icon {
      font-size: 20px;
      margin-bottom: -3px;
      margin-right: 8px;
    }

    .replace-icon {
      position: absolute;
      top: 17px;
      left: 25px;
      font-size: 14px;
      min-width: 14px;
      min-height: 14px;
      width: 14px;
      height: 14px;
      line-height: 14px;
      transition: none;
      visibility: hidden;
      opacity: 0;
    }

    .name {
      font-size: 14px;
      flex: 1 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      visibility: hidden;
      opacity: 0;
      transition: none;
    }

    .expand-icon {
      font-size: 18px;
      line-height: 18px;
      min-width: 18px;
      max-width: 18px;
      min-height: 18px;
      max-height: 18px;
      margin-bottom: -2px;
      margin-right: 18px;
      visibility: hidden;
      opacity: 0;
      transition: transform .2s ease-in-out;
    }

    .expand-icon.expanded {
      transform: rotate(90deg);
    }
  }

  .content.active {
    &:before {
      content: " ";
      position: absolute;
      top: 0;
      left: 0;
      right: 0px;
      height: 2px;
    }
  
    &:after {
      content: " ";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0px;
      height: 2px;
    }
  }

  /**
    * LEVELS
    */

  .content.level-1 {
    padding-left: 54px;
  }

  .content.level-2 {
    padding-left: 86px;
  }

  .content.level-3 {
    padding-left: 118px;
  }

  .content.level-4 {
    padding-left: 150px;
  }

  .content.level-1, .content.level-2, .content.level-3, .content.level-4 {
    .icon {
      visibility: hidden;
      opacity: 0;
    }
  }

  /**
   * TRANSITION FOR MENU ITEMS
   */

  .pure-menu-content.no-icon {
    .replace-icon {
      visibility: visible;
      opacity: 1;
    }
  }

  .pure-menu-content.opened-or-hovering-menu {
    .name, .expand-icon {
      visibility: visible;
      opacity: 1;
      transition: visibility .3s ease-in-out, opacity .5s ease-in-out;
    }
    .replace-icon {
      visibility: hidden;
      opacity: 0;
      transition: visibility 200ms ease-in, opacity 200ms ease-in;
    }
  }

  .content.opened-or-hovering-menu.level-1,
  .content.opened-or-hovering-menu.level-2,
  .content.opened-or-hovering-menu.level-3,
  .content.opened-or-hovering-menu.level-4 {
    .icon {
      visibility: visible;
      opacity: 1;
      transition: visibility .3s ease-in-out, opacity .5s ease-in-out;
    }
  }

}

.children {
  overflow: hidden;
  box-sizing: border-box;
  height: 0px;
  transition: all .2s ease-in-out;
  position: relative;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }

  &:after {
    content: " ";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
  }

  .children {
    &:before, &:after {
      display: none;
    }
  }
}
