.pure-menu-item {
  padding-top: 0px;

  .content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding-left: 22px;
    padding-right: 18px;

    .icon {
      font-size: 20px;
      margin-bottom: -3px;
      margin-right: 8px;
    }

    .menu-item-name {
      font-size: 14px;
      flex: 1 1 auto;
    }

    .expand-icon {
      font-size: 18px;
      line-height: 18px;
      min-width: 18px;
      max-width: 18px;
      min-height: 18px;
      max-height: 18px;
      margin-bottom: -2px;
      transition: transform .2s ease-in-out;
    }
    
    .expand-icon.expanded {
      transform: rotate(90deg);
    }
  }

  .content.opened {
    background: rgba(#bdbdbd, .1);
  }

  /**
    * LEVELS
    */
  .content.level-1 {
    padding-left: 54px;
    background: rgba(#bdbdbd, .1);
  }

  .content.level-2 {
    padding-left: 86px;
    background: rgba(#bdbdbd, .2);
  }

  .content.level-3 {
    padding-left: 118px;
    background: rgba(#bdbdbd, .3);
  }

  .content.level-4 {
    padding-left: 150px;
    background: rgba(#bdbdbd, .4);
  }

  .content.level-1.opened {
    background: rgba(#bdbdbd, .2);
  }
  .content.level-2.opened {
    background: rgba(#bdbdbd, .3);
  }
  .content.level-3.opened {
    background: rgba(#bdbdbd, .4);
  }
  .content.level-4.opened {
    background: rgba(#bdbdbd, .4);
  }
}


.children {
  overflow:hidden;
  box-sizing: border-box;
  height: 0px;
  transition: all .2s ease-in-out;
}
