<a class="pure-menu-item" (click)="onMenuItemClicked()"
   [routerLink]="menuItemData?.url"
   [queryParams]="menuItemData?.params"
   [dir]="textDirection">
  <div class="pure-menu-content content level-{{level}}" [ngClass]="menuContentClasses">
    <!-- Icon to replace menu item that doesn't have icon when shrink -->
    <mat-icon class="replace-icon">{{ menuItemData?.icon ? menuItemData?.icon : 'layers' }}</mat-icon>
    <!-- Original icon -->
    <mat-icon class="icon" *ngIf="menuItemData?.icon">{{ menuItemData?.icon }}</mat-icon>
    <span class="name">{{ menuItemData?.name | translate }}</span>
    <span class="badge" *ngIf="menuItemData?.badge"
          [ngClass]="fixBadgeColor(menuItemData?.badgeColor)"
          [ngStyle]="badgeStyles">
      {{ menuItemData?.badge }}
    </span>
    <mat-icon class="expand-icon" [ngClass]="{ 'expanded': opened }" *ngIf="hasChildren">
      keyboard_arrow_right
    </mat-icon>
  </div>
</a>

<div class="children" *ngIf="hasChildren" [ngStyle]="{ 'height.px': height }">
  <pure-menu-item *ngFor="let childMenuItem of menuItemData?.children" 
                  [parent]="_parent"
                  [menuItemData]="childMenuItem"
                  [level]="level+1"
                  [isMenuOpened]="isMenuOpened"
                  [isMainFullWidth]="isMainFullWidth"
                  [textDirection]="textDirection"
                  [isOpenedOrHoveringMenu]="isOpenedOrHoveringMenu">
  </pure-menu-item>
</div>
