<a mat-list-item class="pure-menu-item" (click)="onMenuItemClicked()">
  <div fxLayout="row" fxLayoutAlign="start center" class="content level-{{level}}"
    [ngClass]="{'active': active, 'opened': opened}">
    <mat-icon class="icon" *ngIf="menuItemData.icon">{{ menuItemData.icon }}</mat-icon>
    <span class="menu-item-name">
      {{ menuItemData.name }}
    </span>
    <mat-icon class="expand-icon" [ngClass]="{ 'expanded': opened }"
      *ngIf="hasChildren">keyboard_arrow_right</mat-icon>
  </div>
</a>

<div class="children" *ngIf="hasChildren" [ngStyle]="{ 'height.px': height }">
  <pure-menu-item *ngFor="let childMenuItem of menuItemData.children" 
    [menuItemData]="childMenuItem"
    [level]="level+1">
  </pure-menu-item>
</div>
