<div #puresidechatbox class="pure-side-chatbox"
  [ngClass]="{ 
    'pure-side-chatbox-fullwidth' : _chatbox.isFullWidth,
    'pure-side-chatbox-non-fullwidth' : !_chatbox.isFullWidth,
    'pure-side-chatbox-opened' : _chatbox.isOpened(),
    'pure-side-chatbox-closed' : _chatbox.isClosed() }">
  <mat-toolbar color="primary" class="toolbar" (click)="_chatbox.toggle()">
    <mat-icon matBadge="12" matBadgeColor="warn" class="chatbox-icon">
      chat
    </mat-icon>
    <span class="content" style="margin-left: 16px; font-weight: normal">Chatbox</span>
    <div class="pure-spacer"></div>
    <button mat-icon-button class="content">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="pure-chatbox-wrapper">
    hihi
  </div>
</div>