.pure-side-chatbox {
  position: absolute;
  right: 0px;
  top: 0px;
  bottom: 0px;
  min-width: 0px;
  max-width: 0px;
  width: 0px;
  overflow: hidden;
  box-sizing: border-box;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
  z-index: 9999;
  .pure-chatbox-wrapper {
    position: absolute;
    top: 64px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: white;
    z-index: 9999;
  }
}

.pure-side-chatbox-fullwidth {
  min-width: 64px;
  max-width: 64px;
  width: 64px;
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
  .toolbar {
    .chatbox-button {
      visibility: hidden;
      opacity: 0;
    }
  }
}

.pure-side-chatbox-non-full-width {
  min-width: 0px;
  max-width: 0px;
  width: 0px;
}

.pure-side-chatbox-closed.pure-side-chatbox-non-full-width {
  min-width: 0px;
  max-width: 0px;
  width: 0px;
}

.pure-side-chatbox-closed.pure-side-chatbox-full-width {
  min-width: 64px;
  max-width: 64px;
  width: 64px;
}

.pure-side-chatbox-opened {
  min-width: 288px;
  max-width: 288px;
  width: 288px;
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
  .toolbar>.chatbox-button {
    opacity: 1;
    visibility: visible;
    transition: visibility .3s, opacity .25s ease-in;
  }
}

.pure-side-chatbox-closed {
  transition: width .2s ease-in-out, max-width .2s ease-in-out, min-width .2s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .pure-side-chatbox > .pure-chatbox-wrapper {
    top: 56px;
  }  
}
