<div class="pure-settings">
  <mat-toolbar class="toolbar" color="primary">
    <mat-icon>settings</mat-icon>
    <span style="padding-left: 8px">Settings</span>
    <span class="pure-spacer"></span>
    <button mat-icon-button class="close-btn" (click)="_settingsContainer.close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="content" perfectScrollbar>
    <mat-list class="setting-list">
      <h3 mat-subheader class="title">Themes</h3>
      <mat-radio-group [(ngModel)]="theme">
        <mat-radio-button class="setting" *ngFor="let theme of themes" [value]="theme.id">
          {{ theme.name }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Languages</h3>
      <mat-radio-group [(ngModel)]="language">
        <mat-radio-button class="setting" *ngFor="let lang of ['English', 'Spain', 'Chinese']" [value]="lang">
          {{ lang }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
      <h3 mat-subheader>Width Layout</h3>
      <mat-radio-group [(ngModel)]="widthLayout">
        <mat-radio-button class="setting" *ngFor="let widthLayout of ['Fullwidth', 'Boxed']" [value]="widthLayout">
          {{ widthLayout }}
        </mat-radio-button>
      </mat-radio-group>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
</div>
