<div class="pure-settings" [ngClass]="{
  'RTL' : (_settings.currentTextDir$ | async) === 'RTL'
}">
  <mat-toolbar class="toolbar" color="primary">
    <mat-icon>settings</mat-icon>
    <span class="pure-spacer-8"></span>
    <span>Settings</span>
    <span class="pure-spacer"></span>
    <button mat-icon-button class="close-btn" (click)="_settingsContainer.close()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <div class="content pure-theme" purePerfectScrollbar>

    <mat-list class="setting-list">
      <h3 mat-subheader class="title">Themes</h3>
      <mat-radio-group  (change)="onChangeTheme($event)" [(ngModel)]="currentTheme">
        <mat-list-item class="setting" *ngFor="let theme of SETTINGS.THEMES">
          <span class="pure-spacer-16"></span>
          <mat-radio-button [value]="theme.class">
            {{ theme.name }}
          </mat-radio-button>
        </mat-list-item>
      </mat-radio-group>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list class="setting-list">
      <h3 mat-subheader class="title">Width Layout</h3>
      <mat-radio-group (change)="onChangeWidthLayout($event)" [(ngModel)]="currentWidthLayout">
        <mat-list-item class="setting" *ngFor="let widthLayout of SETTINGS.WIDTH_LAYOUTS">
          <span class="pure-spacer-16"></span>
          <mat-radio-button [value]="widthLayout">
            {{ widthLayout }}
          </mat-radio-button>
        </mat-list-item>
      </mat-radio-group>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list class="setting-list">
      <h3 mat-subheader class="title">Text direction</h3>
      <mat-radio-group (change)="onChangeTextDirection($event)" [(ngModel)]="currentTextDir">
        <mat-list-item class="setting" *ngFor="let dir of SETTINGS.TEXT_DIRECTIONS">
          <span class="pure-spacer-16"></span>
          <mat-radio-button [value]="dir">
            {{ dir }}
          </mat-radio-button>
        </mat-list-item>
      </mat-radio-group>
    </mat-list>

    <mat-divider></mat-divider>

    <mat-list class="setting-list">
      <h3 mat-subheader class="title">Languages</h3>
      <mat-radio-group [(ngModel)]="currentLang">
        <mat-list-item class="setting" *ngFor="let lang of SETTINGS.LANGUAGES">
          <span class="pure-spacer-16"></span>
          <mat-radio-button [value]="lang">
            {{ lang }}
          </mat-radio-button>
        </mat-list-item>
      </mat-radio-group>

    </mat-list>

    <mat-divider></mat-divider>
  </div>
</div>
