.pure-settings {
  .toolbar {
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.15), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    position: relative;
    z-index: 10001;
    .close-btn {
      margin-right: -8px;
    }
  }
  .content {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 64px;
    bottom: 0px;
    overflow-x: hidden;
    .setting-list {
      margin-bottom: 8px;
      .title {
        margin-bottom: 8px;
      }
      .setting {
        height: 40px;
      }
    }
  }

  @media only screen and (max-width: 600px) {
    .content {
      top: 56px;
    }
  }
}

/**
* RTL SUPPORT
*/

.pure-settings.RTL {
  .toolbar > .close-btn {
    margin-left: -8px;
    margin-right: auto;
  }
}