<div>
  <page-header
    [title]="'Menu'"
    [routes]="['Material Components', 'Navigation']"
    [referenceUrl]="'https://material.angular.io/components/menu/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Simple menu" [code]="simpleMenuCode">
      <simple-menu-example></simple-menu-example>
    </material-example>

    <material-example title="Icon menu" [code]="iconMenuCode">
      <icon-menu-example></icon-menu-example>
    </material-example>

    <material-example title="Nested menu" [code]="nestedMenuCode">
      <nested-menu-example></nested-menu-example>
    </material-example>

  </div>
</div>
