<div>
  <page-header [referenceUrl]="'https://material.angular.io/components/menu/overview'"></page-header>

  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Menu overview" [code]="menuOverviewCode">
      <menu-overview-example></menu-overview-example>
    </material-example>

    <material-example title="Icon menu" [code]="menuIconCode">
      <menu-icon-example></menu-icon-example>
    </material-example>

    <material-example title="Nested menu" [code]="menuNestedCode">
      <menu-nested-example></menu-nested-example>
    </material-example>

  </div>
</div>
