<div>
  <page-header
    [title]="'Tooltip'"
    [routes]="['Material Components', 'Navigation']"
    [referenceUrl]="'https://material.angular.io/components/tooltip/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Snackbar overview" [code]="tooltipOverviewCode">
      <tooltip-overview-example></tooltip-overview-example>
    </material-example>

    <material-example title="Tooltip with a custom position" [code]="tooltipPositionCode">
      <tooltip-position-example></tooltip-position-example>
    </material-example>

    <material-example title="Tooltip with a show and hide delay" [code]="tooltipDelayCode">
      <tooltip-delay-example></tooltip-delay-example>
    </material-example>

    <material-example title="Tooltip that can be disabled" [code]="tooltipDisabledCode">
      <tooltip-disabled-example></tooltip-disabled-example>
    </material-example>

    <material-example title="Tooltip that can be manually shown/hidden" [code]="tooltipManualCode">
      <tooltip-manual-example></tooltip-manual-example>
    </material-example>

    <material-example title="Tooltip with a changing message" [code]="tooltipMessageCode">
      <tooltip-message-example></tooltip-message-example>
    </material-example>

  </div>
</div>
