.title {
  width: 100%;
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  padding-bottom: 24px;
  opacity: .64;
}

mat-form-field, button {
  width: 100%;
}

.back-button {
  width: 100%;
  text-align: center;
  text-decoration: none;
  transform: translateY(8px);

  a {
    font-weight: 400;
  }
}
