.title {
  width: 100%;
  color: rgba(0,0,0,.48);
  font-size: 1em;
  line-height: 1.2em;
  text-align: center;
  padding-bottom: 24px;
}

mat-form-field, button {
  width: 100%;
}

.back-button {
  width: 100%;
  text-align: center;
  text-decoration: none;
  transform: translateY(8px);

  a {
    font-weight: 400;
  }
}
