<div class="pure-side-chatbox" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div fxFlex="64px" class="chatbox-contacts" perfectScrollbar>
    <div class="contact-item-wrapper" *ngFor="let contact of _sideChatbox.contacts$ | async">
      <span class="contact-item-selected" *ngIf="contact.id === _sideChatbox.conversationContact">
        <span class="indicator"></span>
      </span>
      <button mat-button color="primary" class="contact-item" fxLayoutAlign="center center"
        (click)="startConversation(contact)">
        <img class="contact-image" [src]="contact.avatar" matTooltip="{{contact.name}}" matTooltipPosition="before">
        <span class="contact-status" [ngClass]="{
          'online' : contact.status === 'online',
          'offline' : contact.status === 'offline',
          'busy' : contact.status === 'busy',
          'do-not-disturb' : contact.status === 'do-not-disturb'
        }"></span>
        <span class="contact-unread-count" *ngIf="contact.unreadCount > 0">
          {{ contact.unreadCount >= 100 ? '99+' : contact.unreadCount }}
        </span>
      </button>
    </div>
  </div>
  <div class="chatbox" fxFlex fxLayoutAlign="center center" [ngClass]="{
      'chatbox-opened': _chatboxContainer.isOpened
  }">
    <div class="no-conversation-selected" *ngIf="!_sideChatbox.inConversation && _chatboxContainer.isOpened">
      <div>
        <mat-icon>chat</mat-icon>
      </div>
      Select a contact to start<br>a conversation
    </div>
    <div class="have-conversation" fxLayout="column" fxLayoutAlign="space-between stretch"
      [hidden]="!(_sideChatbox.inConversation && _sideChatbox.currentConversation.messages.length > 0)">
      <div #messages_content=ngxPerfectScrollbar class="messages" perfectScrollbar>
        <div class="message-row" *ngFor="let message of _sideChatbox.currentConversation.messages; let i = index"
          [ngClass]="{
            'mine' : message.sender === 0,
            'their' : message.sender !== 0,
            'first-of-group': isFirstOfGroup(i, message, _sideChatbox.currentConversation.messages), 
            'last-of-group': isLastOfGroup(i, message, _sideChatbox.currentConversation.messages)
          }">
          <img class="avatar" *ngIf="message.sender !== 0" [src]="_sideChatbox.currentConversation.contactInfo.avatar" width="36">
          <div class="message">
            {{ message.message }}
          </div>
          <div class="time">
            {{ message.createAt | date: 'MM/dd/yy - hh:mm aa' }}
          </div>
        </div>
      </div>
      <div class="no-messages" fxLayout="column" fxLayoutAlign="center center"
        *ngIf="_sideChatbox.inConversation && 
          _sideChatbox.currentConversation.messages.length === 0 &&
          _chatboxContainer.isOpened">
        <div>
          <mat-icon>chat_bubble_outline</mat-icon>
        </div>
        You haven't have any message<br> with {{ _sideChatbox.currentConversation.contactInfo.name }}
      </div>
      <div class="message-input-wrapper" perfectScrollbar *ngIf="_sideChatbox.inConversation">
        <textarea #message_input class="message-input" placeholder="Type a message" rows="1" 
          [(ngModel)]="messageInput"
          (ngModelChange)="resizeMessageInput()"
          (keydown.enter)="preventEnterKey($event)"
          (keyup.enter)="sendMessage()"></textarea>
      </div>
      <button mat-icon-button color="primary" class="message-send-btn" (click)="sendMessage()"
        *ngIf="_sideChatbox.inConversation && _chatboxContainer.isOpened">
        <mat-icon>
          send
        </mat-icon>
      </button>
    </div>
  </div>
</div>