<div class="pure-side-chatbox" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div fxFlex="64px" class="chatbox-contacts" perfectScrollbar>
    <div class="contact-item-wrapper" *ngFor="let contact of _sideChatbox.contacts$ | async">
      <span class="contact-item-selected pure-primary-bg-50" *ngIf="contact.id === _sideChatbox.conversationContact">
        <span class="indicator pure-primary-bg"></span>
      </span>
      <button mat-button color="primary" class="contact-item" fxLayoutAlign="center center"
        (click)="startConversation(contact)">
        <img class="contact-image" [src]="contact.avatar" matTooltip="{{contact.name}}" matTooltipPosition="before">
        <span class="contact-status" [ngClass]="{
          'online' : contact.status === 'online',
          'offline' : contact.status === 'offline',
          'busy' : contact.status === 'busy',
          'do-not-disturb' : contact.status === 'do-not-disturb'
        }"></span>
        <span class="contact-unread-count pure-primary-bg" *ngIf="contact.unreadCount > 0">
          {{ contact.unreadCount >= 100 ? '99+' : contact.unreadCount }}
        </span>
      </button>
    </div>
  </div>
  <div fxFlex class="chatbox" fxLayoutAlign="center center" [ngSwitch]="_sideChatbox.inConversation">
    <div class="no-conversation-selected" *ngSwitchCase="false">
      <div>
        <mat-icon>chat</mat-icon>
      </div>
      Select a contact to start<br>a conversation
    </div>
    <div class="have-conversation" fxLayout="column" fxLayoutAlign="space-between stretch" *ngSwitchCase="true">
      <div class="messages" perfectScrollbar>
        <div style="height: 60px" *ngFor="let i of [1,2,3,4,5,6,7,8,8,9,8,7,6,2,5,4,4,4,5,6,7,8,8]">hello</div>
      </div>
      <div class="message-input-wrapper" perfectScrollbar>
        <textarea #message_input class="message-input" placeholder="Type a message" rows="1" 
          [(ngModel)]="messageInput"
          (ngModelChange)="resizeMessageInput()"
          (keydown.enter)="preventEnterKey($event)"
          (keyup.enter)="sendMessage()"></textarea>
      </div>
      <button mat-icon-button color="primary" class="message-send-btn" (click)="sendMessage()">
        <mat-icon>
          send
        </mat-icon>
      </button>
    </div>
  </div>
</div>