.pure-side-chatbox{
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  .chatbox-contacts {
    position: relative;
    .contact-item:first-child {
      margin-top: 0px;
    }
    .contact-item-wrapper {
      height: 64px;
      position: relative;
      .contact-item-selected {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        .indicator {
          position: absolute;
          top: 14px;
          bottom: 12px;
          left: 0px;
          width: 4px;
          border-top-right-radius: 8px;
          border-bottom-right-radius: 8px;
        }
      }
      .contact-item {
        position: relative;
        width: 100%;
        min-width: 64px;
        max-width: 64px;
        height: 64px;
        padding: 0px;
        .mat-badge-content {
          margin-right: -8px;
          margin-bottom: -8px;
        }
        .contact-image {
          width: 36px;
          height: 36px;
          border-radius: 20px;
          box-sizing: border-box;
          box-shadow: 0 2px 2px 0 rgba(0,0,0,.35);
        }
        .contact-status {
          position: absolute;
          height: 9px;
          width: 9px;
          border-radius: 8px;
          border: 2px solid white;
          right: 10px;
          bottom: 11px;
        }
        .online {
          background: #00E676;
        }
        .offline {
          background: #E0E0E0;
        }
        .busy {
          background: #FFEB3B;
        }
        .do-not-disturb {
          background: #F44336;
        }
        .contact-unread-count {
          position: absolute;
          padding: 0px 5px;
          font-size: 11px;
          font-weight: normal;
          color: #fff;
          top: 12px;
          left: 10px;
          line-height: 16px;
          height: 16px;
          border-radius: 12px;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 2px 2px 0 rgba(0,0,0,.35)
        }
      }
    }
  }
  .chatbox {
    z-index: 9001;
    box-shadow: -1px 0 2px 0 rgba(0,0,0,.25);
    .no-conversation-selected {
      mat-icon {
        font-size: 8em;
        width: 124px;
        height: 124px;
        min-width: 124px;
        min-height: 124px;
        opacity: .2;
      }
      font-weight: 200;
      line-height: 23px;
      text-align: center;
      color: #bdbdbd;
    }
    .have-conversation {
      .messages {

      }
      .message-input {
        
      }
    }
  }
}
