<div class="pure-side-chatbox" fxLayout="row" fxLayoutAlign="space-between stretch">
  <div fxFlex="64px" class="chatbox-contacts" perfectScrollbar>
    <button mat-button color="primary" class="contact-item" fxLayoutAlign="center center"
      (click)="startConversation(contact)"
      *ngFor="let contact of _sideChatbox.contacts$ | async">
      <span class="selected" *ngIf="contact.id === _sideChatbox.conversationContact"></span>
      <img class="contact-image" [src]="contact.avatar" matTooltip="{{contact.name}}" matTooltipPosition="before">
      <span class="contact-status" [ngClass]="{
        'online' : contact.status === 'online',
        'offline' : contact.status === 'offline',
        'busy' : contact.status === 'busy',
        'do-not-disturb' : contact.status === 'do-not-disturb'
      }"></span>
      <span class="contact-unread-count pure-primary-bg" *ngIf="contact.unreadCount > 0">
        {{ contact.unreadCount >= 100 ? '99+' : contact.unreadCount }}
      </span>
    </button>
  </div>
  <div fxFlex class="chatbox" fxLayoutAlign="center center" [ngSwitch]="_sideChatbox.inConversation">
    <div class="no-conversation-selected" *ngSwitchCase="false">
      <div>
        <mat-icon>chat</mat-icon>
      </div>
      Select a contact to start<br>a conversation
    </div>
    <div class="have-conversation" fxLayout="column" fxLayoutAlign="space-between stretch" *ngSwitchCase="true">
      <div class="messages" fxFlex>
        haha
      </div>
      <div class="message-input"fxFlex="48px">
        hihi
      </div>
    </div>
  </div>
</div>