.header {
  height: 98px;
  min-height: 98px;
  padding: 0 32px;

  .navigation {
    font-size: .77em;
    line-height: .77em;
    font-weight: 300;
    padding-bottom: 16px;
    opacity: .7;
    mat-icon {
      width: 16px;
      height: 16px;
      font-size: 16px;
      line-height: 16px;
    }
    .arrow {
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  .title {
    font-size: .9em;
    line-height: .9em;
    font-weight: 400;
  }
  
  .reference {
    text-align: right;
  }
}

.header.small-screen {
  height: 148px;
  min-height: 148px;

  .navigation {
    font-size: .72em;
    line-height: .72em;
    padding-bottom: 20px;
  }
  .title {
    text-align: center;
  }
  .reference {
    margin-bottom: 16px;
  }
}