<pure-main-container class="app-container">
  <mat-toolbar class="app-header" color="primary">
    <button mat-icon-button *ngIf="!_menu.isFullWidth" (click)="_menu.toggle()">
      <mat-icon>menu</mat-icon>
    </button> 
    <button mat-icon-button><mat-icon>settings</mat-icon></button>
    <div class="pure-spacer"></div>
    <button mat-icon-button><mat-icon>fullscreen</mat-icon></button>
    <button mat-icon-button><mat-icon>settings</mat-icon></button>
    <button mat-icon-button *ngIf="_chatbox.isClosed() && !_chatbox.isFullWidth" (click)="_chatbox.toggle()">
      <mat-icon matBadge="12" matBadgeColor="warn">chat</mat-icon>
    </button>
    <button mat-icon-button (click)="_notification.toggle()">
      <mat-icon matBadge="10" matBadgeColor="warn">notifications</mat-icon>
    </button>
  </mat-toolbar>
  <div id="app_content_container" class="app-content-container" fxLayoutAlign="center center">
    Content 
  </div>
</pure-main-container>
