<form [formGroup]="registerForm">

  <mat-form-field appearance="outline" class="input-form-field">
    <mat-label>Name</mat-label>
    <mat-icon matSuffix class="input-icon" svgIcon="account"></mat-icon>
    <input matInput pureAutofocus placeholder="Name" formControlName="name">
    <mat-error *ngIf="registerForm.hasError('required', 'name')" align="end">
      You must enter your name
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline" class="input-form-field">
    <mat-label>Email</mat-label>
    <mat-icon matSuffix class="input-icon">email</mat-icon>
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="registerForm.hasError('required', 'email') || registerForm.hasError('email', 'email')" align="end">{{ getEmailErrorMessage() }}</mat-error>
  </mat-form-field>

  <form formGroupName="passwords">
    <mat-form-field appearance="outline" class="input-form-field">
      <mat-label>Password</mat-label>
      <mat-icon matSuffix>vpn_key</mat-icon>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="registerForm.hasError('required', 'passwords.password')" align="end">
        You must enter your password
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-form-field">
      <mat-label>Confirm Password</mat-label>
      <mat-icon matSuffix>vpn_key</mat-icon>
      <input matInput placeholder="Confirm Password" type="password" formControlName="confirmPassword" [errorStateMatcher]="errorStateMatcher">
      <mat-error *ngIf="!registerForm.hasError('required', 'passwords.password') && registerForm.hasError('required', 'passwords.confirmPassword')" align="end">
        You must confirm your password
      </mat-error>
      <mat-error *ngIf="!registerForm.hasError('required', 'passwords.confirmPassword') && registerForm.hasError('notSamePassword', 'passwords')" align="end">
        Password do not match
      </mat-error>
    </mat-form-field>
  </form>

  <div style="width: 100%; margin: 12px 0" fxLayout="row" fxLayoutAlign="space-between center">
    <mat-checkbox class="remember-me">Remember me</mat-checkbox>
    <span>
      <a class="forgot-password pure-primary-foreground" [routerLink]="['../forgot-password']">Forgot Password ?</a>
    </span>
  </div>

  <div class="buttons">
    <button mat-raised-button class="login-button" color="primary" [disabled]="registerForm.invalid">CREATE ACCOUNT</button>

    <div class="register-label">Already have an account ?</div>
    
    <div class="register-button">
      <a mat-button color="primary" [routerLink]="['../login']">SIGN IN</a>
    </div>
  </div>

</form>
