<div>
  <page-header
    [title]="'Button Toggle'"
    [routes]="['Material Components', 'Buttons & Indicators']"
    [referenceUrl]="'https://material.angular.io/components/button-toggle/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Simple button toggle" [code]="simpleButtonToggleCode">
      <simple-button-toggle-example></simple-button-toggle-example>
    </material-example>
    
  </div>
</div>
