<div>
  <page-header
    [title]="'Normal route'"
    [routes]="['Others', 'Navigation']">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">
    <mat-card style="padding: 24px">
      <div style="font-size: 1.2em; margin-bottom: 16px">This is just a component with normal route</div>

      <div style="opacity: .4">
        <mat-icon style="transform: translateY(6px); margin-right: 4px">info</mat-icon>
        You can easily setting for routes in menu configs
      </div>
    </mat-card>
  </div>
</div>
