<div>
  <page-header
    [title]="'Level 5'"
    [routes]="['Others', 'Multi-level Menu (With icon)', 'Level 2', 'Level 3', 'Level 4']">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">
    <mat-card style="padding: 24px">
      <div style="margin-bottom: 24px; font-size: 1.2em">You've gone too far. But that's not all</div>
      <div style="opacity: .4">
        <mat-icon style="transform: translateY(6px); margin-right: 4px">info</mat-icon>
        You can create as many menu's levels as you want. But i do think for good user experiences, you should use menu groups instead.
      </div>
    </mat-card>
  </div>
</div>
