<div class="pure-container-wrapper">
  <pure-side-menu></pure-side-menu>
  <pure-side-chatbox></pure-side-chatbox>
  <pure-side-notification></pure-side-notification>
  <div class="pure-container-content" [ngClass]="{
    'pure-side-menu-content-small-screen' : !_menu.isFullWidth,
    'pure-side-menu-content-opened' : _menu.isFullWidth && _menu.isOpened(),
    'pure-side-chatbox-content-small-screen' : !_chatbox.isFullWidth }">
    <ng-content></ng-content>
  </div>
</div>
<div class="pure-container-backdrop" [ngStyle]="{'z-index': _notification.isOpened() ? '9900' : '999'}"
  [hidden]="!((_menu.isOpened() && !_menu.isFullWidth) || (_chatbox.isOpened() && !_chatbox.isFullWidth) || _notification.isOpened())"
  (click)="closeBackdrop()"></div>