<div>
  <page-header
    [title]="'Select'"
    [routes]="['Material Components', 'Form Controls']"
    [referenceUrl]="'https://material.angular.io/components/select/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">
    
    <material-example title="Select overview" [code]="selectOverviewCode">
      <select-overview-example></select-overview-example>
    </material-example>

    <material-example title="Select with 2-way value binding" [code]="selectTwoWaysBindingCode">
      <select-two-way-binding-example></select-two-way-binding-example>
    </material-example>

    <material-example title="Select in a form" [code]="selectInAFormCode">
      <select-in-a-form-example></select-in-a-form-example>
    </material-example>

    <material-example title="Select with form field features" [code]="selectFormFieldFeaturesCode">
      <select-form-field-features-example></select-form-field-features-example>
    </material-example>

    <material-example title="Disabled select" [code]="selectDisabledCode">
      <select-disabled-example></select-disabled-example>
    </material-example>

    <material-example title="Select with reset option" [code]="selectWithResetCode">
      <select-with-reset-example></select-with-reset-example>
    </material-example>

    <material-example title="Select with option groups" [code]="selectOptionGroupsCode">
      <select-option-groups-example></select-option-groups-example>
    </material-example>

    <material-example title="Select with multiple selection" [code]="selectMultipleSelectionCode">
      <select-multiple-selection-example></select-multiple-selection-example>
    </material-example>

    <material-example title="Select with custom trigger text" [code]="selectCustomTriggerTextCode">
      <select-custom-trigger-text-example></select-custom-trigger-text-example>
    </material-example>

    <material-example title="Select with no option ripple" [code]="selectNoRippleCode">
      <select-no-ripple-example></select-no-ripple-example>
    </material-example>

    <material-example title="Select with custom panel styling" [code]="selectCustomStyleCode">
      <select-custom-style-example></select-custom-style-example>
    </material-example>

    <material-example title="Select with a custom ErrorStateMatcher" [code]="selectCustomErrorStateMatcherCode">
      <select-custom-error-matcher-example></select-custom-error-matcher-example>
    </material-example>

  </div>
</div>
