<div>
  <page-header
    [title]="'Select'"
    [routes]="['Material Components', 'Form Controls']"
    [referenceUrl]="'https://material.angular.io/components/select/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">
    
    <material-example title="Simple select" [code]="simpleSelectCode">
      <simple-select-example></simple-select-example>
    </material-example>

    <material-example title="Select with 2-way value binding" [code]="twoWaysBindingSelectCode">
      <two-way-binding-select-example></two-way-binding-select-example>
    </material-example>

    <material-example title="Select in a form" [code]="selectInAFormCode">
      <select-in-a-form-example></select-in-a-form-example>
    </material-example>

    <material-example title="Select with form field features" [code]="formFieldFeaturesSelectCode">
      <form-field-features-select-example></form-field-features-select-example>
    </material-example>

    <material-example title="Disabled select" [code]="disabledSelectCode">
      <disabled-select-example></disabled-select-example>
    </material-example>

    <material-example title="Select with reset option" [code]="selectWithResetCode">
      <select-with-reset-example></select-with-reset-example>
    </material-example>

    <material-example title="Select with option groups" [code]="selectOptionGroupsCode">
      <select-option-groups-example></select-option-groups-example>
    </material-example>

    <material-example title="Select with multiple selection" [code]="multipleSelectionSelectCode">
      <multiple-selection-select-example></multiple-selection-select-example>
    </material-example>

    <material-example title="Select with custom trigger text" [code]="customTriggerTextCode">
      <custom-trigger-text-select-example></custom-trigger-text-select-example>
    </material-example>

    <material-example title="Select with no option ripple" [code]="noRippleSelectCode">
      <no-ripple-select-example></no-ripple-select-example>
    </material-example>

    <material-example title="Select with custom panel styling" [code]="customStyleSelectCode">
      <custom-style-select-example></custom-style-select-example>
    </material-example>

    <material-example title="Select with a custom ErrorStateMatcher" [code]="customErrorStateMatcherCode">
      <custom-error-matcher-select-example></custom-error-matcher-select-example>
    </material-example>

  </div>
</div>
