.container {

  .header {
    height: 84px;
    margin: 0 24px;
    
    .left {
      .type-selector {
        transform: translateY(12px);
        min-width: 100px;
        width: 164px;
      }
    }

    .right {
      .date-selector {
        transform: translateY(12px);
        min-width: 128px;
        width: 184px;
      }
    }
  }
}
