<div class="template-event-log" [dir]="_settings.currentTextDir$ | async"
     [class.fullwidth]="_container.isFullWidth$ | async">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="left">
      <mat-form-field appearance="outline" class="type-selector">
        <mat-label>All type</mat-label>
        <mat-select placeholder="All type" [(value)]="model.type" (selectionChange)="onTypeChanged($event)">
          <mat-option [value]="undefined">All type</mat-option>
          <mat-option *ngFor="let type of eventLogTypes$ | async" [value]="type.value">
            {{ type.display }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="center"></div>

    <div class="right">
      <mat-form-field appearance="outline" class="date-selector">
        <mat-label>Choose a date</mat-label>
        <input matInput [matDatepicker]="datePicker" placeholder="Choose a date"
               [(ngModel)]="model.timestamp"
               (dateChange)="onDateChanged($event)">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>

  <mat-divider style="position:relative; z-index: 10"></mat-divider>

  <div class="content" purePerfectScrollbar>

    <div class="log" *ngFor="let log of eventLogs$ | async" fxLayout="row">
      <div class="tree" fxFlex="84px">
        <div class="circle-wrapper" fxLayoutAlign="center center">
          <div class="circle" [ngClass]="log.type" [ngSwitch]="log.type" fxLayoutAlign="center center">
            <mat-icon *ngSwitchCase="'create'">add</mat-icon>
            <mat-icon *ngSwitchCase="'update'">edit</mat-icon>
            <mat-icon *ngSwitchCase="'delete'">delete</mat-icon>
          </div>
        </div>
      </div>
      <mat-card class="log-detail" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="16px" fxFlex>
        <div class="description">{{ log.description }}</div>
        <div class="user">{{ log.timestamp | date: 'MM/dd/yy - hh:mm aa' }}</div>
      </mat-card>
    </div>

  </div>
</div>
