.example-h2 {
  margin: 10px;
  font-weight: 400;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.example-result {
  margin-top: 16px;
}