@import '../../../../assets/scss/pure-style-functions';
@import '../pure-menu-item/pure-menu-item.component';

@mixin pure-menu-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $accent: map-get($theme, accent);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  .pure-menu {

    // Global Styles for Menu Items
    @include pureMenuItemStyles();

    .group {
      .group-name {
        color: mat-color($primary, .9);
      }

      .group-name-replace {
        color: rgba(mat-color($foreground, icon), .2);
      }

      .pure-menu-content {
        .icon, .expand-icon, .replace-icon {
          color: mat-color($foreground, icon);
        }

        .badge, .badge.warn {
          background: mat-color($warn);
          color: get-text-color(mat-color($warn));
        }
        .badge.primary {
          background: mat-color($primary);
          color: get-text-color(mat-color($primary));
        }
        .badge.accent {
          background: mat-color($accent);
          color: get-text-color(mat-color($accent));
        }

        .name {
          color: mat-color($foreground, text);
        }
      }

      /**
        * LEVELS
        */

      .content.level-1, .content.level-2, .content.level-3, .content.level-4 {
        @if $is-dark==true {
          background: rgba(#212121, .6);
        } @else {
          background: rgba(#bdbdbd, .1);
        }

        // Hover Effect
        &:hover {
          @if $is-dark==true {
            background: rgba(#212121, .9);
          } @else {
            background: rgba(#bdbdbd, .2);
          }
        }
      }

      /**
       * CONTENT 
       */

      .content:hover {
        @if $is-dark==true {
          background: rgba(#212121, .4);
        }

        @else {
          background: rgba(#bdbdbd, .1);
        }
      }

      .content.active {
        background: mat-color($primary);
        span, mat-icon {
          color: get-text-color(mat-color($primary));
        }

        &:before { background: linear-gradient(180deg, rgba(0, 0, 0, .2) 0, transparent); }
        &:after { background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .2)); }
        &:hover { background: mat-color($primary); }
      }

      /**
       * CHILDREN
       */

      .children {
        @if $is-dark==true {
          &:before { background: linear-gradient(180deg, rgba(0, 0, 0, .3) 0, transparent); }
          &:after { background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .2)); }
        }

        @else {
          &:before { background: linear-gradient(180deg, rgba(0, 0, 0, .2) 0, transparent); }
          &:after { background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, .2)); }
        }
      }
    }
  }

  .pure-menu.opened-or-hovering-menu {

    .pure-menu-item {
      .pure-menu-content {
        flex-direction: row;
        padding-right: 10px;

        .icon {
          margin-right: 12px;
        }
      }

      .name,
      .expand-icon {
        opacity: 1;
        margin-right: 12px;
      }

      .badge {
        opacity: 1;
        transition: opacity 200ms ease-in-out;
      }

      .replace-icon {
        opacity: 0 !important;
      }

      .content.level-1, .content.level-2, .content.level-3, .content.level-4 {
        .icon {
          opacity: 1;
        }
      }
    }
  }

  .pure-menu.fullwidth {

    .pure-menu-item {
      .pure-menu-content {
        .icon {
          margin-right: 12px;
        }
      }
    }

  }


  /**
   * RTL SUPPORT
   */

  .pure-menu[dir="rtl"].opened-or-hovering-menu {

    .pure-menu-item {
      .pure-menu-content {
        padding-right: 22px;
        padding-left: 10px;

        .icon {
          margin-right: 0px !important;
          margin-left: 12px !important;
        }

        .name,
        .expand-icon {
          margin-right: auto;
          margin-left: 12px;
        }
      }
    }
  }

  .pure-menu[dir="rtl"].fullwidth {

    .pure-menu-item {
      .pure-menu-content {
        .icon {
          margin-right: auto;
          margin-left: 22px;
        }
      }
    }
  }

}
