<div #PURE_MENU=ngxPerfectScrollbar class="pure-menu pure-theme" perfectScrollbar
  [ngClass]="{ 
    'opened-or-hovering-menu': (isOpenedOrHoveringMenu | async),
    'fullwidth': (_mainContainer.isFullWidth$ | async)
  }">
  <div class="group" *ngFor="let group of menuData">
    <div class="group-name-wrapper">
      <!--Icon to replace group name when the menu shrink-->
      <mat-icon class="group-name-replace">remove</mat-icon>
      <!--Group name-->
      <div class="group-name">{{ group.groupName }}</div>
    </div>
    <pure-menu-item *ngFor="let menuItem of group.menuItems" 
      [menuItemData]="menuItem"
      [isOpenedOrHoveringMenu]="isOpenedOrHoveringMenu"></pure-menu-item>
  </div>
</div>
