<div #PURE_MENU=purePerfectScrollbar class="pure-menu pure-theme" purePerfectScrollbar
  [ngClass]="{ 
    'opened-or-hovering-menu': _menuContainer.isOpenedOrHoveringMenu,
    'fullwidth': _mainContainer.isFullWidth,
    'RTL' : _settings.currentTextDir === 'RTL'
  }">
  <div class="group" *ngFor="let group of menuData">
    <div class="group-name-wrapper">
      <!--Icon to replace group name when the menu shrink-->
      <mat-icon class="group-name-replace">remove</mat-icon>
      <!--Group name-->
      <div class="group-name">{{ group.groupName | translate }}</div>
    </div>
    <pure-menu-item *ngFor="let menuItem of group.menuItems" 
      [menuItemData]="menuItem"
      [isMenuOpened]="_menuContainer.isOpened"
      [isMainFullWidth]="_mainContainer.isFullWidth"
      [textDirection]="_settings.currentTextDir"
      [isOpenedOrHoveringMenu]="_menuContainer.isOpenedOrHoveringMenu"></pure-menu-item>
  </div>
</div>
