.pure-menu {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding-top: 12px;
  overflow: hidden;

  .group {
    .group-name-wrapper {
      height: 54px;
      width: 100%;
      position: relative;

      .group-name {
        position: absolute;
        top: 24px;
        left: 24px;
        font-size: 12px;
        font-weight: bold;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        visibility: hidden;
        opacity: 0;
      }

      .group-name-replace {
        position: absolute;
        top: 18px;
        left: 20px;
        visibility: visible;
        opacity: 1;
      }
    }
  }
}

.pure-menu.opened-or-hovering-menu {
  .group>.group-name-wrapper {

    .group-name {
      visibility: visible;
      opacity: 1;
      transition: visibility .3s ease-in-out, opacity .5s ease-in-out;
    }

    .group-name-replace {
      visibility: hidden;
      opacity: 0;
      transition: visibility 100ms linear 100ms, opacity 100ms linear;
    }
  }
}
