.pure-menu {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  padding-top: 8px;

  .group-name {
    padding: 32px 0px 8px 24px;
    font-size: 12px;
    font-weight: bold;
  }
}
