/**
* Contain some useful class that can use across the app
*/

.pure-spacer {
  flex: 1 1 auto;
}

.pure-spacer-8 {
  display: inline-block;
  width: 8px;
}

.pure-spacer-16 {
  display: inline-block;
  width: 16px;
}

.pure-truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
