<div>
  <page-header
    [title]="'Expansion Panel'"
    [routes]="['Material Components', 'Layout']"
    [referenceUrl]="'https://material.angular.io/components/expansion/overview'">
  </page-header>
  <div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="24px" style="padding: 32px">

    <material-example title="Simple expansion" [code]="simpleExpansionCode">
      <simple-expansion-example></simple-expansion-example>
    </material-example>

    <material-example title="Accordion expansion" [code]="accordionExpansionCode">
      <accordion-expansion-example></accordion-expansion-example>
    </material-example>

  </div>
</div>
