.pure-notification-container {
  position: absolute;
  right: -288px;
  left: unset;
  top: 0px;
  bottom: 0px;
  width: 288px;
  max-width: 100vw;
  box-sizing: border-box;
  transition: transform 150ms ease-in-out;
  z-index: 9999;

  .notification-wrapper{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    background: white;
    z-index: 9999;
  }
}

.pure-notification-container.opened {
  transform: translateX(-288px);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .35);
}

/**
* RTL SUPPORT
*/

.pure-notification-container.RTL {
  right: unset;
  left: -288px;
  transform: translateX(0px);
}

.pure-notification-container.opened.RTL {
  transform: translateX(288px);
}