.input-form-field {
  width: 100%;
}

.change-password-button {
  width: 100%;
  margin-top: 4px;
}

.back-button {
  margin-bottom: 24px;
  text-decoration: none;
  transform: translateY(8px);

  a {
    font-weight: 400;
  }
}

