<form [formGroup]="changePasswordForm" [dir]="_settings.currentTextDir$ | async">

  <mat-form-field appearance="outline" class="input-form-field">
    <mat-label>Current password</mat-label>
    <mat-icon matSuffix>vpn_key</mat-icon>
    <input matInput placeholder="Password" type="password" formControlName="currentPassword">
    <mat-error *ngIf="!changePasswordForm.hasError('required', 'currentPassword.invalid')" align="end">
      You must enter your current password
    </mat-error>
  </mat-form-field>

  <form formGroupName="newPassword">
    <mat-form-field appearance="outline" class="input-form-field">
      <mat-label>Password</mat-label>
      <mat-icon matSuffix>vpn_key</mat-icon>
      <input matInput placeholder="Password" type="password" formControlName="password">
      <mat-error *ngIf="changePasswordForm.hasError('required', 'newPassword.password')" align="end">
        You must enter new password
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="input-form-field">
      <mat-label>Confirm Password</mat-label>
      <mat-icon matSuffix>vpn_key</mat-icon>
      <input matInput placeholder="Confirm Password" type="password"
             formControlName="confirmPassword" [errorStateMatcher]="errorStateMatcher">
      <mat-error *ngIf="!changePasswordForm.hasError('required', 'newPassword.password') && changePasswordForm.hasError('required', 'newPassword.confirmPassword')" align="end">
        You must confirm new password
      </mat-error>
      <mat-error *ngIf="!changePasswordForm.hasError('required', 'newPassword.confirmPassword') && changePasswordForm.hasError('notSamePassword', 'newPassword')" align="end">
        Confirm password do not match
      </mat-error>
    </mat-form-field>
  </form>

  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="8px">
    <button mat-raised-button class="change-password-button" color="primary" [disabled]="changePasswordForm.invalid">
      CHANGE PASSWORD
    </button>

    <div class="back-button">
      <a mat-button color="primary" [routerLink]="['../register']">Back to login</a>
    </div>
  </div>

</form>
