@import "assets/scss/_pure-perfect-scrollbar.scss";
@import "assets/scss/_pure-utils.scss";
// Theming
@import "assets/scss/theming/_core.scss";
@include pure-themes-init();

/* Global styles */
* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
}
