.main-content {
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,.58);
  line-height: 1.3em;
}

.sub-content {
  width: 100%;
  text-align: center;
  color: rgba(0,0,0,.48);
  font-size: .9em;
  line-height: 1.4em;
}

.back-button {
  width: 100%;
  text-align: center;
  text-decoration: none;
  transform: translateY(8px);

  a {
    font-weight: 400;
  }
}
