.main-content {
  width: 100%;
  text-align: center;
  line-height: 1.3em;
}

.sub-content {
  width: 100%;
  text-align: center;
  font-size: .9em;
  line-height: 1.4em;
  opacity: 0.56;
}

.back-button {
  width: 100%;
  text-align: center;
  text-decoration: none;
  transform: translateY(8px);

  a {
    font-weight: 400;
  }
}
