<div id="pure.sidemenu" class="pure-side-menu"
  [ngClass]="{ 
    'pure-side-menu-can-hover' : _menu.canHover,
    'pure-side-menu-fullwidth' : _menu.isFullWidth,
    'pure-side-menu-non-fullwidth' : !_menu.isFullWidth,
    'pure-side-menu-opened' : _menu.isOpened(),
    'pure-side-menu-closed' : _menu.isClosed() }">
  <mat-toolbar color="primary" class="toolbar">
    <span>P</span>
    <div class="pure-spacer"></div>
    <button mat-icon-button class="menu-button"
      (click)="_menu.toggleMode()">
      <mat-icon>{{ _menu.isOpened() ? 'arrow_back' : 'menu' }}</mat-icon>
    </button>
  </mat-toolbar>
  <div class="pure-menu-wrapper">

  </div>
</div>