<pure-main-container class="app-container">
  <mat-toolbar class="app-header" color="primary">
    <button mat-icon-button *ngIf="!_menuContainer.isFullWidth" (click)="_menuContainer.toggle()">
      <mat-icon>menu</mat-icon>
    </button> 
    <!--mat-divider currently have issue with mat-header, so i create my own simple divider-->
    <div class="pure-spacer"></div>
    <button mat-button class="button" (click)="toggleSearch()"><mat-icon>search</mat-icon></button>
    <button mat-button class="button fullscreen-btn" (click)="requestFullscreen()"><mat-icon>fullscreen</mat-icon></button>
    <button mat-button class="button language-btn"><mat-icon>languages</mat-icon></button>
    <button mat-button class="button userinfo-btn" [matMenuTriggerFor]="userInfoMenu">
      <mat-icon svgIcon="account"></mat-icon>
    </button>
    <button mat-button class="button" (click)="_notificationContainer.toggle()">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>
    <button mat-button class="button" *ngIf="!_chatboxContainer.isFullWidth"
      (click)="_chatboxContainer.toggle()">
      <mat-icon>chat</mat-icon>
    </button>
    <div class="search" *ngIf="isSearching" fxLayout="row" fxLayoutAlign="space-between center" >
      <mat-icon>search</mat-icon>
      <input #search_input type="text" class="search-input" pureAutofocus>
      <button mat-icon-button (click)="toggleSearch()">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-menu #userInfoMenu="matMenu" xPosition="before" overlapTrigger="false">
      <button mat-menu-item>
        <mat-icon svgIcon="account"></mat-icon>
        <span>User Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <div id="app_content_container" class="app-content-container" fxLayoutAlign="center center">
    Content 
  </div>
</pure-main-container>
