<mat-toolbar class="header" color="primary" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="space-between center"
             ngClass.xs="small-screen">
  <div fxFlex fxLayout="column" fxLayoutAlign="center stretch">
    <div class="navigation" fxLayout="row" fxLayoutAlign="start center">
      <span>
        <mat-icon>home</mat-icon>
      </span>

      <span *ngFor="let route of routes" fxLayoutAlign="start center">
        <mat-icon class="arrow">{{ _settings.currentTextDir$.value === 'ltr' ? 'keyboard_arrow_right' : 'keyboard_arrow_left' }}</mat-icon>
        <span>{{ route }}</span>
      </span>
    </div>
    <div class="title">{{ title }}</div>
  </div>

  <div class="reference" *ngIf="referenceUrl">
    <a mat-raised-button [href]="referenceUrl">
      <mat-icon>link</mat-icon>
      <span style="margin: 0 4px"></span>
      <span>Reference</span>
    </a>
  </div>
</mat-toolbar>
