
@mixin template-messenger-app-theme($theme) {
  $primary: map-get($theme, primary);
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $is-dark: map-get($theme, is-dark);

  .pure-messenger-app {
    color: mat-color($foreground, text);
    background: mat-color($background, background);

    .contact-status {
      @if $is-dark {
        color: mat-color($background, background);
      } @else {
        color: #FAFAFA;
      }
    }

    .contact-item-selected {
      background: mat-color($primary, 200, .15);

      .indicator {
        background: mat-color($primary);
      }
    }

    .contact-unread-count {
      background: mat-color($primary);
    }

    .have-conversation > .messages > .message-row > {
      .message {
        background: mat-color($primary);
        color: mat-color($primary, default-contrast);
      }
      .time {
        color: mat-color($foreground, hint-text)
      }
    }
  }
}
