<div class="pure-messenger-app" fxLayoutAlign="space-between stretch"
     [class.menu-opened]="_menuContainer.isOpened$ | async"
     [dir]="_settings.currentTextDir$ | async">
  <div class="contacts-wrapper" fxLayout="column">
    <div class="user-info" fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start center" fxLayoutGap="12px">
        <span class="pure-primary-foreground" style="font-size: 1.2em">
          Messenger
        </span>
      </div>

      <button mat-icon-button>
        <mat-icon class="pure-icon-foreground" matTooltip="Settings">settings</mat-icon>
      </button>
    </div>

    <div class="search" fxLayoutAlign="space-between center" fxLayoutGap="6px">
      <div style="width: 8px"><!-- Spacer --></div>

      <mat-icon>search</mat-icon>

      <input #searchContact type="text" fxFlex placeholder="Search messenger"
            (keyup)="_messenger.searchContact$.next(searchContact.value)"/>

      <button mat-icon-button (click)="_messenger.searchContact$.next(''); searchContact.value=''">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <div class="contacts" purePerfectScrollbar>
      <button class="contact-item" mat-button color="primary"
              [class.contact-item-selected]="contact.id === _messenger.conversationContact"
              *ngFor="let contact of _messenger.filteredContacts$ | async; trackBy: trackByContact"
              (click)="startConversation(contact)">
        <div class="contact-wrapper" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="contact-avatar-wrapper" fxLayoutAlign="center center">
            <img class="contact-avatar" src="assets/image/avatar/{{contact.avatar}}">
            <span class="contact-status"
                 [class.online]="contact.status === 'online'"
                 [class.offline]="contact.status === 'offline'"
                 [class.busy]="contact.status === 'busy'"
                 [class.do-not-disturb]="contact.status === 'do-not-disturb'"></span>
          </div>

          <div fxFlex fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="8px">
            <span class="contact-name pure-foreground pure-truncate-text">
              {{ contact.name }}
            </span>
            <span class="contact-message pure-foreground pure-truncate-text">
              {{ (_messenger.getLatestMessage(contact.id) | async) || 'No message' }}
            </span>
          </div>

          <div class="contact-message-info" fxFlex="64px" fxLayout="column" fxLayoutAlign="end center" fxLayoutGap="8px">
            <div class="contact-unread-count" *ngIf="contact.unreadCount > 0">
              {{contact.unreadCount >= 100 ? '99+' : contact.unreadCount}}
            </div>
            <div class="contact-last-received-time pure-foreground " *ngIf="_messenger.getLatestMessage(contact.id) | async">
              Nov 2
            </div>
          </div>
        </div>

        <span class="indicator"></span>
      </button>
    </div>
  </div>

  <div class="conversation-wrapper" *ngIf="_messenger.currentContact$ | async; else notSelectedContact"
       fxLayout="column" fxLayoutAlign="space-between stretch" fxFlex>
    <div class="header" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="84px">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
        <img class="avatar" src="assets/image/avatar/kyoz.jpg" width="58px">
        <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="4px">
          <span class="user">{{ (_messenger.currentContact$ | async)?.name }}</span>
          <app-messenger-status [status]="(_messenger.currentContact$ | async)?.status"></app-messenger-status>
        </div>
      </div>

      <div class="functions" fxLayoutGap="24px">
        <button mat-icon-button matTooltip="Audio Call">
          <mat-icon class="pure-icon-foreground">phone</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Video Call">
          <mat-icon class="pure-icon-foreground">videocam</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Toggle Shared Assets">
          <mat-icon class="pure-icon-foreground">flip</mat-icon>
        </button>
      </div>
    </div>

    <div class="messages-wrapper" fxLayout="row" fxLayoutAlign="space-between stretch" fxFlex>
      <div class="messages" fxFlex>
        <div class="have-conversation" fxLayout="column" fxLayoutAlign="space-between stretch">
          <div #messages_content=purePerfectScrollbar class="messages" purePerfectScrollbar>
            <div class="message-row" *ngFor="let message of _messenger.currentMessages; let i = index; trackBy: trackByMessage"
                 [class.mine]="message.sender === 0"
                 [class.their]="message.sender !== 0"
                 [class.first-of-group]="isFirstMessageOfGroup(i, message)"
                 [class.last-of-group]="isLastMessageOfGroup(i, message)">
              <img class="avatar" *ngIf="message.sender !== 0" 
                   src="assets/image/avatar/{{_messenger.currentContact.avatar}}" width="36">
              <div class="message">
                {{message.message}}
              </div>
              <div class="time">
                {{message.createAt | date: 'MM/dd/yy - hh:mm aa'}}
              </div>
            </div>
          </div>

          <div class="no-messages" fxLayout="column" fxLayoutAlign="center center" fxFlex
               *ngIf="_messenger.inConversation && 
                      _messenger.currentMessages.length === 0">
            <div>
              <mat-icon>chat_bubble_outline</mat-icon>
            </div>
            You haven't have any message<br> with {{_messenger.currentContact.name}}
          </div>

          <div class="message-input-wrapper" purePerfectScrollbar *ngIf="_messenger.inConversation">
            <textarea #message_input class="message-input" placeholder="Type a message" rows="1"
                      [(ngModel)]="messageInput"
                      (ngModelChange)="resizeMessageInput()"
                      (keydown.enter)="preventEnterKey($event)"
                      (keyup.enter)="sendMessage()"></textarea>
          </div>
          <button mat-icon-button color="primary" class="message-send-btn" (click)="sendMessage()"
                  *ngIf="_messenger.inConversation">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>

      <div class="messages-assets">
        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="4px">
          <img class="avatar" src="assets/image/avatar/kyoz.jpg" width="84px">
          <span class="user">{{ (_messenger.currentContact$ | async)?.name }}</span>
          <app-messenger-status [status]="(_messenger.currentContact$ | async)?.status"></app-messenger-status>
        </div>

        <!-- PHOTOS -->
        <div class="asset-wrapper">
          <div class="asset-header" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <div style="width: 2px"><!-- Spacer --></div>
              <mat-icon class="pure-icon-foreground">photo</mat-icon>
              <span>Photos</span>
            </div>

            <button mat-button color="primary">View all</button>
          </div>

          <div class="photos" fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="grid">
            <img *ngFor="let photo of photos" [src]="'assets/image/avatar/' + photo"
                 fxFlex="calc(25% - 16px)" />
          </div>
        </div>

        <!-- FILES -->
        <div class="asset-wrapper">
          <div class="asset-header" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <div style="width: 2px"><!-- Spacer --></div>
              <mat-icon class="pure-icon-foreground">insert_drive_file</mat-icon>
              <span>Files</span>
            </div>

            <button mat-button color="primary">View all</button>
          </div>

          <div class="files">
            <div class="file" *ngFor="let file of files" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
              <mat-icon class="icon" color="primary">insert_drive_file</mat-icon>

              <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="4px" fxFlex>
                <div class="file-name pure-truncate-text">{{ file.name }}</div>
                <div class="file-size pure-truncate-text">{{ file.size }}</div>
              </div>

              <button mat-icon-button>
                <mat-icon class="pure-icon-foreground">save_alt</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- LINKS -->
        <div class="asset-wrapper">
          <div class="asset-header" fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <div style="width: 2px"><!-- Spacer --></div>
              <mat-icon class="pure-icon-foreground">link</mat-icon>
              <span>Links</span>
            </div>

            <button mat-button color="primary">View all</button>
          </div>

          <div class="links">
            <a class="link" *ngFor="let link of links" [href]="link.url" target="_blank"
               fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
              <mat-icon class="icon" color="primary">link</mat-icon>

              <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="4px" fxFlex>
                <div class="link-name pure-foreground pure-truncate-text">{{ link.name }}</div>
                <div class="link-url pure-foreground pure-truncate-text">{{ link.url }}</div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <ng-template #notSelectedContact>
    <div class="conversation-wrapper no-conversation-selected"
         fxLayout="column" fxLayoutAlign="center center" fxFlex>

      <mat-icon>chat</mat-icon>
      <span class="pure-truncate-text">Select a contact to start a conversation</span>
    </div>
  </ng-template>
</div>
