<div class="sidenav-wrapper">
  <div class="pure-sidenav" *ngIf="_sidenav.isFullWidth" [ngClass]="{ 'pure-sidenav-pushed' : _sidenav.getMode() === 'push' }">
    <mat-toolbar color="primary" class="toolbar">
      <span>P</span>
      <div class="spacer"></div>
      <button mat-icon-button class="menu-button" (click)="_sidenav.toggleMode()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>
    <div class="menu-wrapper">

    </div>
  </div>
  <div class="pure-sidenav-content" [ngClass]="{ 
    'pure-sidenav-content-small-screen' : !_sidenav.isFullWidth,
    'pure-sidenav-content-pushed' : _sidenav.getMode() === 'push'}">
    <ng-content></ng-content>
  </div>
</div>